<section class="alongside">
    <div class="container alonside-container">
        <h2 class="alongside-title">Product is being used with great effects alongside:</h2> 
        <div class="alongside-content">
        <img class="alongside-img" src="../img/alongside/devices.svg" alt="Computers" width="528" height="392">     
            <ul class="alongside-list">
                <li class="alongside-list-item">
                    <h3 class="alongside-list-item-title">Enterpreneur</h3>
                    <p class="alongside-list-item-text">Product is a great way to help medium and samall enterprise owners achieve their goals</p>
                </li>
                <li class="alongside-list-item">
                    <h3 class="alongside-list-item-title">Accountants</h3>
                    <p class="alongside-list-item-text">Whether you are working on contract with clients, or on other key accounting documents, Product is for you</p>
                </li>
                <li class="alongside-list-item">
                    <h3 class="alongside-list-item-title">Universities</h3>
                    <p class="alongside-list-item-text">Organize university projects and have documents easily graded online with Product</p>
                </li>
            </ul>
        </div>
    </div>
</section>