<section class="choose">
    <div class="container choose-container">
        <h2 class="choose-title">Why Choose Product?</h2>
        <ul class="choose-list">
            <li class="choose-list-item">
                <!-- <img src="./images/icon (1).png" alt="icon" width="50" height="50"> -->
                <div class="choose-list-card">
                    <h3 class="choose-list-item-title">Special Business</h3>
                    <p class="choose-list-item-text">
                        Product helps you see how many
                        more days you need to work
                        to reach your financial goal
                        for the month and year.
                    </p>
                </div>
            </li>
            <li class="choose-list-item">
                <!-- <img src="./images/icon.png" alt="icon" width="50" height="50"> -->
                <div class="choose-list-card">
                    <h3 class="choose-list-item-title">Instant Result</h3>
                    <p class="choose-list-item-text">
                        Product helps you see how many
                        more days you need to work
                        to reach your financial goal
                        for the month and year.
                    </p>
                </div>
            </li>
            <li class="choose-list-item">
                <!-- <img src="./images/icon-1.png" alt="icon" width="50" height="50"> -->
                <div class="choose-list-card">
                    <h3 class="choose-list-item-title">Fastest way to organize</h3>
                    <p class="choose-list-item-text">
                        Product helps you see how many
                        more days you need to work
                        to reach your financial goal
                        for the month and year.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
