<section class="client">
            <div class="container client-container">
                <h2 class="client-title">What Clients Say</h2>
                <p class="client-text">
                    Problems trying to resolve the conflict between
                    the two major realms of Classical physics: Newtonian mechanics
                </p>
                <ul class="client-list">
                    <li class="client-list-item">
                        <svg class="client-list-item-img-stars" width="106" height="18">
                            <use href="../img/icons.svg#icon-stars"></use>
                        </svg>
                        <p class="client-list-item-text">
                            Product helps you see how many
                            more days you need to work to
                            reach your financial goal.
                        </p>
                        <div class="client-list-item-icon-cont">
                            <img class="client-list-item-img" src="../img/client/designer-1.png" alt="Designer">
                            <div class="client-list-item-text-cont">
                                <h3 class="client-list-item-title">Wahid Ari</h3>
                                <p class="client-list-item-under-title">Designer</p>
                            </div>
                        </div>
                    </li>
                    <li class="client-list-item">
                        <svg class="client-list-item-img-stars" width="106" height="18">
                            <use href="../img/icons.svg#icon-stars"></use>
                        </svg>
                        <p class="client-list-item-text">
                            Product helps you see how many
                            more days you need to work to
                            reach your financial goal.
                        </p>
                        <div class="client-list-item-icon-cont">
                            <img class="client-list-item-img" src="../img/client/designer-2.png" alt="Designer">
                            <div class="client-list-item-text-cont">
                                <h3 class="client-list-item-title">Wahid Ari</h3>
                                <p class="client-list-item-under-title">Designer</p>
                            </div>
                        </div>
                    </li>
                    <li class="client-list-item">
                        <svg class="client-list-item-img-stars" width="106" height="18">
                            <use href="../img/icons.svg#icon-stars"></use>
                        </svg>
                        <p class="client-list-item-text">
                            Product helps you see how many
                            more days you need to work to
                            reach your financial goal.
                        </p>
                        <div class="client-list-item-icon-cont">
                            <img class="client-list-item-img" src="../img/client/designer-3.png" alt="Designer">
                            <div class="client-list-item-text-cont">
                                <h3 class="client-list-item-title">Wahid Ari</h3>
                                <p class="client-list-item-under-title">Designer</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>