<section class="collab">
    <div class="container collab-container">
        <div class="collab-content">
            <p class="collab-text-before">Optimisation for</p>
            <h2 class="collab-title">Collaborative</h2>
            <p class="collab-text">
                Few would argue that, despite the advancements of feminism over the past three decades, women still face
                a double standard when it comes to their behavior.
            </p>
            <ul class="collab-list">
                <li class="collab-list-item">
                    <h3 class="collab-list-item-title">Accessory makers</h3>
                    <p class="collab-list-item-text">
                        While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun.
                    </p>
                </li>
                <li class="collab-list-item">
                    <h3 class="collab-list-item-title">Alterationists</h3>
                    <p class="collab-list-item-text">
                        If you are looking for a new way to promote your business that won`t cost you more money,
                    </p>
                </li>
            </ul>
        </div>
        <img class="collab-img" src="../img/collab/collab.svg" alt="collaboration-img" width="540" height="500">
    </div>
</section>