<section class="company">
    <div class="container company-container">
        <h2 class="company-title">Our Clients</h2>
        <ul class="company-list">
            <li class="company-list-item">
                <a class="company-list-item-link" href="/" target="_blank"><img src="../img/company/airbnb.svg" alt="Airbnb" width="159" height="50"></a>
            </li>
            <li class="company-list-item">
                <a class="company-list-item-link" href="" target="_blank"><img src="../img/company/google.svg" alt="Google" width="159" height="50"></a>
            </li>
            <li class="company-list-item">
                <a class="company-list-item-link" href="" target="_blank"><img src="../img/company/microsoft.svg" alt="Microsoft" width="159"
                        height="50"></a>
            </li>
            <li class="company-list-item">
                <a class="company-list-item-link" href="" target="_blank"><img src="../img/company/fedex.svg" alt="FedEx" width="159" height="50"></a>
            </li>
        </ul>
    </div>
</section>