<section class="contents">
    <div class="container contents-container">
        <h2 class="contents-title">Contents Strategie</h2>
        <p class="contents-text">
            We focus on ergonomics and meeting you where you work. It's only a keystroke away.
        </p>
        <ul class="contents-list">
            <li class="contents-list-item">
                <img class="contents-list-item-img" src="../img/content/content-1.png" alt="Work process" width="350"
                    height="185">
                <div class="contents-list-item-card">
                    <p class="contents-list-item-text">By Wahid Ari | 03 March 2019</p>
                    <a class="contents-list-item-title" href="">Increasing Prosperity With Positive Thinking</a>
                </div>
            </li>
            <li class="contents-list-item">
                <img class="contents-list-item-img" src="../img/content/content-2.png" alt="Office" width="350" height="185">
                <div class="contents-list-item-card">
                    <p class="contents-list-item-text">By Wahid Ari | 03 March 2019</p>
                    <a class="contents-list-item-title" href="">Motivation Is The First Step To Success</a>
                </div>
            </li>
            <li class="contents-list-item">
                <img class="contents-list-item-img" src="../img/content/content-3.png" alt="Buildings" width="350"
                    height="185">
                <div class="contents-list-item-card">
                    <p class="contents-list-item-text">By Wahid Ari | 03 March 2019</p>
                    <a class="contents-list-item-title" href="">Success Steps For Your Personal Or Business</a>
                </div>
            </li>
        </ul>
    </div>
</section>