<section class="customer">
    <div class="container customer-container">
        <img class="customer-img" src="../img/customer/customer.svg" alt="support-img" width="540" height="500">
        <div class="customer-content">
            <p class="customer-text-before">Easier decision making for</p>
            <h2 class="customer-title">Customer Support</h2>
            <p class="customer-text">
                The Myspace page defines the individual, his or her characteristics, traits, personal choices and the
                overall personality of the person.
            </p>
            <ul class="customer-list">
                <li class="customer-list-item">
                    <!-- <img class="customer-list-item-img" src="./images/icon-2-1.svg" alt="icon" width="35" height="35"> -->
                    <p class="customer-list-item-text">Never worry about overpaying for your energy again. </p>
                </li>
                <li class="customer-list-item">
                    <!-- <img class="customer-list-item-img" src="./images/icon-2-2.svg" alt="icon" width="35" height="35"> -->
                    <p class="customer-list-item-text">We will only switch you to energy companies that we trust and
                        will treat you right</p>
                </li>
                <li class="customer-list-item">
                    <!-- <img class="customer-list-item-img" src="./images/icon-2-3.svg" alt="icon" width="35" height="35"> -->
                    <p class="customer-list-item-text">We track the markets daily and know where the savings are.</p>
                </li>
            </ul>
        </div>

    </div>
</section>