<section class="offer">
    <div class="container offer-container">
        <h2 class="offer-title">Join thousand of other who have already received offers</h2>
        <ul class="offer-list">
            <li class="offer-list-item">
                <!-- <img src="./images/Image Placeholder-1.png" alt="Placeholder" width="150" height="150"> -->
                <h3 class="offer-list-item-title">Business</h3>
                <ul class="offer-business-list">
                    <li class="offer-business-list-item">Cash Flow</li>
                    <li class="offer-business-list-item">Asset Backed</li>
                    <li class="offer-business-list-item">Receivables Finance</li>
                </ul>
                <p class="offer-list-item-text">Find the best business product</p>
            </li>
            <li class="offer-list-item">
                <!-- <img src="./images/Image Placeholder.png" alt="Placeholder" width="150" height="150"> -->
                <h3 class="offer-list-item-title">Enterprise</h3>
                <ul class="offer-enterprice-list">
                    <li class="offer-enterprise-list-item">Site Acquisition</li>
                    <li class="offer-enterprise-list-item">Bridge </li>
                    <li class="offer-enterprise-list-item">Development Financing</li>
                </ul>
                <p class="offer-list-item-text">Find the best business product</p>
            </li>
        </ul>
    </div>
</section>