<section class="price">
    <div class="container price-container">
        <h2 class="price-title">Price Table</h2>
        <p class="price-text">We offer competitive price</p>
        <ul class="price-list">
            <li class="price-list-item">
                <h3 class="price-list-item-title">Free</h3>
                <p class="price-list-item-text">Brief price description</p>
                <div class="price-list-item-cont">
                    <h4 class="price-list-item-price">0</h4>
                    <div>
                        <span class="price-list-item-price-dollar">$</span>
                        <span class="price-list-item-price-date">Per / month</span>
                    </div>
                </div>
                <ul class="price-list-item-list">
                    <li class="price-list-item-list-item">Only 2 Operators</li>
                    <li class="price-list-item-list-item">Notifications</li>
                    <li class="price-list-item-list-item">Landing Pages</li>
                </ul>
                <button class="price-list-item-btn" type="button">Order Now</button>
            </li>
            <li class="price-list-item">
                <h3 class="price-list-item-title">Standard</h3>
                <p class="price-list-item-text">Brief price description</p>
                <div class="price-list-item-cont">
                    <h4 class="price-list-item-price">5 </h4>
                    <div>
                        <span class="price-list-item-price-dollar">$</span>
                        <span class="price-list-item-price-date">Per / month</span>
                    </div>
                </div>
                <ul class="price-list-item-list">
                    <li class="price-list-item-list-item">5+ Operators</li>
                    <li class="price-list-item-list-item">Notifications</li>
                    <li class="price-list-item-list-item">Landing Pages</li>
                </ul>
                <button class="price-list-item-btn" type="button">Order Now</button>
            </li>
            <li class="price-list-item">
                <h3 class="price-list-item-title">Premium</h3>
                <p class="price-list-item-text">Brief price description</p>
                <div  class="price-list-item-cont">
                    <h4 class="price-list-item-price"> 10</h4>
                    <div>
                        <span class="price-list-item-price-dollar">$</span>
                        <span class="price-list-item-price-date">Per / month</span>
                    </div>
                </div>
                <ul class="price-list-item-list">
                    <li class="price-list-item-list-item">10+ Operators</li>
                    <li class="price-list-item-list-item">Notifications</li>
                    <li class="price-list-item-list-item">Landing Pages</li>
                </ul>
                <button class="price-list-item-btn" type="button">Order Now</button>
            </li>
        </ul>
    </div>
</section>