<section class="process">
    <div class="container process-container">
        <h2 class="process-title">Quick & Easy Process</h2>
        <p class="process-text">
            Do you require some help for your project:
            Conception workshop, prototyping, marketing strategy, landing page, Ux/UI?
        </p>
        <ul class="process-list">
            <li class="process-list-item">
                <img class="process-list-item-img" src="../img/process/expert-1.png" alt="Expert" width="98" height="98">
                <div class="comment">
                    <p class="process-list-item-text">I can take care of your pitch</p>
                </div>
            </li>
            <li class="process-list-item">
                <div class="comment">
                    <p class="process-list-item-text">I can prototype your app</p>
                </div>
                <img class="process-list-item-img" src="../img/process/expert-2.png" alt="Expert" width="98" height="98">
            </li>
            <li class="process-list-item">
                <div class="comment">
                    <p class="process-list-item-text">I can take care of your pitch</p>
                </div>
                <img class="process-list-item-img" src="../img/process/expert-3.png" alt="Expert" width="98" height="98">
            </li>
            <li class="process-list-item">
                <img class="process-list-item-img" src="../img/process/expert-4.png" alt="Expert" width="98" height="98">
                <div class="comment">
                    <p class="process-list-item-text">I can help marketing strategy</p>
                </div>
            </li>
        </ul>
        <button class="process-btn" type="button">Contact our expert</button>
    </div>
</section>