<section class="product">
    <div class="container">
        <h2 class="product-title">Product was Built Specifically for You</h2>
        <ul class="product-list">
            <li class="product-item">
                <!-- <img class="product-item-img" src="./images/icon-1.svg" alt="icon" width="54" height=expert"> -->
                <h3 class="product-item-title">First click tests</h3>
                <p class="product-item-text">While most people enjoy casino gambling,</p>
            </li>
            <li class="product-item">
                <!-- <img class="product-item-img" src="./images/icon-2.svg" alt="icon" width="54" height="expert"> -->
                <h3 class="product-item-title">Design surveys</h3>
                <p class="product-item-text">Sports betting, lottery and bingo playing for the fun</p>
            </li>
            <li class="product-item">
                <!-- <img class="product-item-img" src="./images/icon-3.svg" alt="icon" width="54" height="expert"> -->
                <h3 class="product-item-title">Preference tests</h3>
                <p class="product-item-text">The Myspace page defines the individual.</p>
            </li>
            <li class="product-item">
                <!-- <img class="product-item-img" src="./images/icon-4.svg" alt="icon" width="54" height="expert"> -->
                <h3 class="product-item-title">Five second tests</h3>
                <p class="product-item-text">Personal choices and the overall personality of the person. </p>
            </li>
        </ul>
        <button class="product-btn" type="button">Sign up now</button>
    </div>
</section>